<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hotel.city %>
  </p>

  <p>
    <strong>About:</strong>
    <%= hotel.about %>
  </p>

</div>
